[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
python-dotenv = "*"
gunicorn = "*"
whitenoise = "*"
psycopg = "*"
psycopg2 = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
requests = "*"
beautifulsoup4 = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.10"
